
/*-- scss:defaults --*/

.sidebar-title {
  color: white;
  font-weight: bold;

}

$sidebar-bg: #28649c;
$link-color: #28649c;

h1 {
  color: #28649c;
}

$btn-code-copy-color: #28649c;
$btn-code-copy-color-active: #28649c;

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}


/*-- scss:rules --*/

.sidebar-item-container {
  color: white;
}

div.sidebar-item-container .active {
  font-weight: bold;
  color: white;
}