
$base_color: #2f4366;
/*-- scss:defaults --*/

.sidebar-title {
  color: white;
  font-weight: bold;

}

$sidebar-bg: $base_color;
$link-color: $base_color;

h1 {
  color: $base_color;
}

$btn-code-copy-color: $base_color;
$btn-code-copy-color-active: $base_color;

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}


/*-- scss:rules --*/

.sidebar-item-container {
  color: white;
}

div.sidebar-item-container .active {
  font-weight: bold;
  color: white;
}